@charset "utf-8";

*{margin: 0px; padding: 0px;}
ul, li, ol{list-style: none;}
a{
  color: #333;
  text-decoration: none;
}
body{
  color: #333;
  background-color: #fff;
  font-size: 12px;
  font-family: '나눔 고딕', arial, sans-serif;
}

.h_inner > h1 > a > img{width: 200px;}

header{
  width: 100%;
}
.h_inner, .f_inner{
  width: 1200px;
  height: 100px;
  margin: 0px auto;
}
.h_inner{position: relative;}



/* 내비게이션 영역 */
.gnb{
  position: absolute;
    top: 60px;
    right: 0px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    transition: 0.4s;
}
.gnb:hover{height: 300px;}
.gnb::after{
  position: absolute;
    left: 0px;
    top: 40px;
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  transition: 0.4s;
  background-color: #0066ad;
  z-index: 1;
}
.gnb:hover::after{height: 200px;}
.gnb > ul{
  width: 600px;
  float: right;
  display: flex;
  justify-content: space-around;
}
.gnb > ul > li{
  position: relative;
  width: 150px;
  text-align: center;
}
.gnb > ul > li > a{
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  color: #0066ad;
  background-color: #30a3f3;
  transition: 0.4s;
}
.gnb > ul > li > a:hover{
  color: #30a3f3;
  background-color: #0066ad;
}

.sub{
  position: absolute;
  width: 100%;
  z-index: 2;
}
.sub > li{}
.sub > li > a{
  display: block;
  line-height: 40px;
  color: #ffffff;
  transition: 0.4s;
}
.sub > li > a:hover{
  color: #333333;
  background-color: aqua;
}

main{
  width: 1200px;
  height: 500px;
  margin: 0px auto;
}



/* 이미지 슬라이드 영역 */
.slide{
  width: 1200px;
  height: 300px;
  overflow: hidden;
}
.s_wrap{
  display: flex;
}
.s_wrap > li{
  position: relative;
}
.s_wrap > li > h3{
  position: absolute;
    left: 50%;
    top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  padding: 15px 24px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, .8);

}
.s_wrap > li > a > img{
  width: 1200px;
  height: 300px;
}

.banner{
  width: 400px;
  height: 200px;
  background-color: indianred;
  float: left;
}



/* 공지사항 영역 */
.notice{
  width: 400px;
  height: 200px;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
}
.notice > h3{
  padding: 4px;
  width: 60px;
  text-align: center;
  color: #fff;
  background-color: #0066ad;
}
.notice > ul{
  padding: 5px;
  border: 1px solid #fff;
}
.notice > ul > li{
  line-height: 20px;
}
.notice > ul > li > a > span{float: right;}



/* 갤러리 영역 */
.gallery{
  width: 400px;
  height: 200px;
  padding: 10px;
  float: left;
  box-sizing: border-box;
}
.gallery > h3{
  padding: 4px;
  width: 60px;
  text-align: center;
  color: #fff;
  background-color:darkmagenta;
}

.g_wrap{
  display: flex;
  height: 150px;
  border: 1px solid darkmagenta;
}
.g_wrap > li{
  padding-top: 24px;
  padding-right:6px;
}
.g_wrap > li:first-child{padding-left: 19px;}
.g_wrap > li > img{
  width: 110px;
  height: 100px;
}



footer{
  background-color: bisque;
}



/* 모달 서식 */
.modal{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  position: fixed;
    top: 0px;
    left: 0px;
}
.popup{
  position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 190px;
  background-color: #fff;
  border-radius: 20px;
}
.popup > p{
  text-align: center;
  margin: 10px;
}
.c_btn{
  margin-right: 18px;
  float:right;
}